//SASS Practice
@import "./functions/import-functions";
@import "./variables/variables";
@import "./mixins/import-mixins";
@import "./utilities/import-utilities";
// @import './placeholders/import-placeholders';

/* Custom Styles Starts Here */

div {
  @include cross-browser-styles(transform, translateY(-50%));
}

span {
  @include element-display($displayEle: flex, $justifyContent: center, $alignItems: center);
}

section {
  @include font-styling($size: 16px, $color: var(--grey-blue) !important);
}

.container {
  @include bg-image-styles(
    $bgImage: "../../../assets/images/roka-logo-main.svg",
    $bgSize: cover,
    $bgPosition: center center,
    $bgRepeat: no-repeat
  );
}

%toolbelt {
  box-sizing: border-box;
  border-top: 1px rgba(#000, 0.12) solid;
  padding: 16px 0;
  width: 100%;

  &:hover {
    border: 2px rgba(#000, 0.5) solid;
  }
}

.action-buttons {
  @extend %toolbelt;
  color: #4285f4;
}

.reset-buttons {
  @extend %toolbelt;
  color: #cddc39;
}
